@use "../abstracts/" as a;

li + li {
  margin-left: 2rem;
}

li::after {
  content: "";
  background-color: var(--clr-primary-white);
  height: 0.2rem;
  display: block;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.25s;
}

li:hover::after {
  transform: scale(1);
}

li:first-of-type {
  @include a.media-max(small) {
    margin-left: 10%;
  }
  @include a.media-max(very-small) {
    margin-left: 5%;
  }
}

li:last-of-type {
  @include a.media-max(small) {
    margin-right: 5%;
  }
}
