@use "../abstracts/" as a;

.hamburger-menu-icon {
  display: none;
  cursor: pointer;
  @include a.media-max(small) {
    display: block;
    margin-left: 0rem;
  }
}

.hamburger-close-icon {
  cursor: pointer;
}

.btn-left,
.btn-right {
  border: none;
  width: 100%;
  padding: 1rem;
}

.btn-left {
  background-color: var(--clr-primary-black);
}

.btn-right {
  background-color: var(--clr-primary-gray);
}

.arrow-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  grid-column-start: 5;
  grid-column-end: 7;
  width: 100%;
  z-index: 30;
  cursor: pointer;
  @include a.media-max(medium) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
